body{
    background: #323232;
    }

.header{
    
    position: absolute;

height: 110px;
left: 323px;
top: 61px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;

color: #F3F3F3;

    
    
}

.article{
    
    position: absolute;
width: 668px;
height: 658px;
left: 351px;
top: 216px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 12px;

color: #FFFFFF;

    
}
